a {color: black}
body {color: black; background-color: rgb(138, 121, 93) }
.recipe {font-family: fantasy;
font-size: 75%;
font-style: oblique;
text-decoration: underline;
text-align: center }
.title {font-family: fantasy}
p {border: 6px double salmon}