h1 {color: rgb(0, 255, 221) }
p {color: rgb(0, 255, 13)}
body {background: rgb(0, 81, 255)}
#bio{font-size: 75px }
p {font-size:250%}
#header-content {
  height: 30%;
  width: 100%; 
  margin: 1px }
  #header-content{border: 10px ridge rgb(0, 255, 221)}
  #page-content{
  height: 30%;
  width: 100%; 
  margin: 1px }
  #page-content{border: 10px ridge rgb(29, 0, 53)}
    #pat{
  height: 30%;
  width: 100%; 
  margin: 1px }
  #pat{border: 10px ridge rgb(255, 196, 0)}